# temporary editor files:
.#*
.*~
.*swp
googletest*
*.tar.gz
*.tar.bz2
.vscode
*.o
*.a
*.so
src/mem_shell
src/tests/test_fusion
src/tests/test_init
src/tests/test_unit
src/tests/test_validate_all
src/tests/test_validate_all_robust
src/tests/test_basic
src/tests/test_base
src/tests/test_cheese
src/tests/test_frag
src/tests_c/test_base
src/tests_c/test_base_bzero
src/tests_c/test_cheese
src/tests_c/test_cheese_bzero
src/tests_c/test_frag
src/tests_c/test_fusion
src/tests_c/test_fusion_bzero
src/tests_c/test_init
/build*
