# temporary editor files:
.#*
.*~
.*swp
googletest*
*.tar.gz
*.tar.bz2
.vscode
*.o
*.a
*.so
src/mem_shell
src/mem_checker_shell
src/mem_sim_shell
src/mem_sim.c
tests/test_fusion
tests/test_init
tests/test_unit
tests/test_validate_all
tests/test_validate_all_robust
tests/test_basic
tests/test_base
tests/test_cheese
tests/test_frag
tests/test_base_bzero
tests/test_cheese_bzero
tests/test_fusion_bzero
tests_c/test_base
tests_c/test_base_bzero
tests_c/test_cheese
tests_c/test_cheese_bzero
tests_c/test_frag
tests_c/test_fusion
tests_c/test_fusion_bzero
tests_c/test_init
tests_checker/test_basic
/build*
